body {
    display: flex;
    flex-direction: column; /* Make sure the layout is vertical */
    height: 100vh;
    margin: 0;
  }
  
  nav {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Add a background color for better visualization */
  }
  
  h1 {
    margin-bottom: 10px; /* Add margin to create space between h1 and div */
    margin-right: 15px;
  }
  
  content {
    flex: 1; /* Take up the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .numbers {
    font-size: 2em;
    margin: 0 1em;
  }
  