body {
    color: #333;
    margin: 0;
    font: 1.0em / 1.2 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    background-image: url('../img/Sky.png');
    background-size: auto; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
}

p {
    margin-left: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; /* Add this line */
    width: 100%; /* 10% width for header */
    height: 75px;
    background-image: repeating-linear-gradient(#002868, #002868 25px, #fff 25px, #fff 50px);
    background-color: #333;
    color: #FFD700;
    text-shadow: 3px 3px 2px #BF0A30;
    text-align: center;
    margin-top: 10px; 
    z-index: 2; 
}

header img {
    height: 75%; /* Adjust the height as needed */
    position: absolute;
    left: 25px;
}

header, .sidebar, .content, .schedule {
    display: flex;
    
}

.content {
    margin-top: 80px;
}

.sidebar, .schedule {
    margin: 20px;
    z-index: 1; 
}

.about, .calendar, .card {
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s;
}

.about, .calendar
{
    margin-bottom: 10px;
    padding: 10px;
}

.sidebar {
    left: 0%; /* Position at the left */
    width: 30%; /* Set the width */
    height: fit-content; /* Take full height of the viewport */
    margin-bottom: 20px;
    text-align: center;
    flex: 35%;
    display: flex;
    flex-direction: column; 
}

.sidebar h3 {
    text-decoration: underline;
}

.sidebar p {
    margin-left: 0;
    padding: 10px;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.calendar ul {
    list-style: none;
    padding: 0;
}

.schedule {
    flex: 0 0 65%; /* 30% width, don't grow or shrink */
    display: flex;
    flex-wrap: wrap;
}

.card {
    
    padding: 30px;
    margin-bottom: 10px;
     /* Add a transition for the background color */
}

.about:hover, .calendar:hover, .about:hover {
    background-color: #dcdcdc; /* Change the background color on hover */
    transform: scale(1.01)
}

@media screen and (max-width: 750px) {
    .logo {
        font-size: 150%; /* Adjust font size for smaller screens */
        padding: 20px 10px; /* Adjust padding for smaller screens */
        margin-top: 120px;
    }

    .grid {
        flex-wrap: wrap;
    }

    .sidebar ul {
        flex-direction: column; /* Stack .sidebarigation items vertically */
        text-align: center; /* Center align the items */;
    }

    .sidebar a {
        padding: 5em 1em;
    }

    .main-content {
        margin-top: 20px; /* Adjust margin for smaller screens */
    }
}
