body {
    color: #333;
    margin: 0;
    font: 1.0em / 1.2 system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    background-image: url('../img/Sky.png');
    background-size: auto; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
}

p {
    margin-left: 20px;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(247, 199, 70);
    text-decoration: solid;
    text-shadow: -1px -1px 0 #002868, 1px -1px 0 #002868, -1px 1px 0 #002868, 1px 1px 0 #002868;
}

header a {
    text-decoration: none;
    color: #FFD700;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed; /* Add this line */
    width: 100%; /* 10% width for header */
    height: 75px;
    background-image: repeating-linear-gradient(#002868, #002868 25px, #fff 25px, #fff 50px);
    background-color: #333;
    color: #FFD700;
    text-shadow: 3px 3px 2px #BF0A30;
    text-align: center;
    margin-top: 0px; 
    z-index: 2; 
}

header img {
    height: 75%; /* Adjust the height as needed */
    position: absolute;
    left: 25px;
}

header, .sidebar, .content, .schedule {
    display: flex;
    
}

.content {
    margin-top: 90px;
}

.about, .calendar, .card {
    background-color: rgb(255, 254, 254);
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: background-color 0.3s;
}

.about, .calendar
{
    margin-bottom: 10px;
    padding: 10px;
}

.sidebar, .schedule {
    margin-left: 20px;
    z-index: 1; 
}

.sidebar {
    left: 0%; /* Position at the left */
    height: fit-content; /* Take full height of the viewport */
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

.sidebar h3 {
    text-decoration: underline;
}

.sidebar p {
    margin-left: 0;
    padding: 10px;
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}

.calendar ul {
    list-style: none;
    padding: 0;
}

.schedule {
    flex: 0 0 65%; /* 30% width, don't grow or shrink */
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    
    padding: 30px;
    margin-bottom: 10px;
     /* Add a transition for the background color */
}

.card h3
{
    font-size: 22px;
    color: white;
    text-shadow: -1px -1px 0 #002868, 1px -1px 0 #002868, -1px 1px 0 #002868, 1px 1px 0 #002868;
}

.about:hover, .calendar:hover, .card:hover {
    background-color: #dcdcdc; /* Change the background color on hover */
    transform: scale(1.01)
}

@media screen and (max-width: 750px) {



    .content {
        flex-direction: column;
    }

    .sidebar {
        margin-bottom: 0px;
        margin-right: 20px;
    }


    header img {
        display: none;
    }

    
}
