body 
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header 
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    background-image: repeating-linear-gradient(#002868, #002868 25px, #fff 25px, #fff 50px);
    background-color: #333;
    color: #FFD700;
    text-shadow: 3px 3px 2px #BF0A30;
    text-align: center;
    position: relative;    
}

header h1
{
    font-size: 45px;
}

header img 
{
    height: 75%;
    position: absolute;
    left: 25px;
    top: 50%; /* Adjust as needed to vertically center the image */
}

nav 
{
    top: 100px; /* Sets distance from top edge*/
    left: 10px; /* Sets distance from the right edge */

    width: 200px;
    position: fixed;
    background-color: #f8f8f8;
    text-align: center;
    height: auto;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px; /* Adds round corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

nav h2 
{
    margin-top: 0;
}

nav ul
{
    list-style: none;
    padding: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    text-align: center; /* Centers the text */
    line-height: 20px;
}

nav li
{
    margin-bottom: 15px;
    display: inline-block;
    white-space: wrap;
}
  
section
{
    text-align: center;
    width: 100%;
    max-width: 60%;
    margin: auto;
}

section img
{
    width: 500px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

section p
{
    overflow-wrap: break-word; /* Modern equivalent */
}

section ul
{
    list-style: none;
    padding: 0px; /* Removes default padding */
    margin: 0; /* Removes default margin */
    text-align: center; /* Centers the text */
    line-height: 20px;
    margin-bottom: 10%;
}

footer 
{
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
}

footer p 
{
    margin: 0;
}
  