body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-image: url('../img/Sky.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: 60%; /* This will make sure the image covers the entire background */
    background-repeat: repeat;
  }

  h1 {
    color: white;
    height: 50px;

    text-align: center;
    font-size: 70px;

    text-shadow: 0px 2px 10px rgb(117, 120, 127), -1px -1px 0 #B6D0E2, 1px -1px 0 #B6D0E2, -1px 1px 0 #B6D0E2, 1px 1px 0 #B6D0E2;
    
  }

  label {
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 75px black, -1px -1px 0 #B6D0E2, 1px -1px 0 #B6D0E2, -1px 1px 0 #B6D0E2, 1px 1px 0 #B6D0E2;
  }

  button {
    background-color: rgb(97, 126, 146);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

    color: white;

    padding: 7px;
    padding-right: 20px;
    padding-left: 20px;

    border: 1px solid #b7c3cb;
    border-radius: 5px;
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    width: 250px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

    padding: 10px;
    text-align: center;
    
    border: 1px solid #b7c3cb;
    border-radius: 6px;
  }

  p {
    background: #ffc125;
    color: #000000;
    padding: 10px;
    visibility: hidden;
  }

  .story {
    width: 700px;
    background-color: rgb(255, 254, 254);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);

    padding: 20px;
    padding-bottom: 80px;
    padding-top: 20px;

    border: 1px solid rgb(177, 177, 177);
    border-radius: 8px;

    transition: background-color 0.3s;
  }
  
  button:hover{
    background-color: #dcdcdc; /* Change the background color on hover */
    transform: scale(1.02)
  }

@media screen and (max-width: 750px) {

  h1 {
    font-size: 50px;
  }

  .story {
    width: 85%;
  }
  
}