body {
    font-family: helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    background-image: url('../img/Sky.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
    background-size: 50%; /* This will make sure the image covers the entire background */
    background-repeat: repeat;
  }

  h1 {
    color: white;
    font-size: 60px;
    text-shadow: -1px -1px 75px black, -1px -1px 0 #B6D0E2, 1px -1px 0 #B6D0E2, -1px 1px 0 #B6D0E2, 1px 1px 0 #B6D0E2;
    text-align: center;
  }

  label {
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 75px black, -1px -1px 0 #B6D0E2, 1px -1px 0 #B6D0E2, -1px 1px 0 #B6D0E2, 1px 1px 0 #B6D0E2;
  }

  button {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: gray;
    border-width: 1px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  }

  div {
    padding-bottom: 20px;
  }

  input[type="text"] {
    padding: 5px;
    width: 250px;
    text-align: center;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
  }

  p {
    background: #ffc125;
    color: #000000;
    padding: 10px;
    visibility: hidden;
  }

  .story {
    width: 700px;
    background-color: rgb(255, 254, 254);
    border: 1px solid rgb(177, 177, 177);
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: background-color 0.3s;
    padding: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  button:hover{
    background-color: #dcdcdc; /* Change the background color on hover */
    transform: scale(1.02)
}

@media screen and (max-width: 750px) {

  h1 {
    font-size: 50px;
  }

  .story {
    width: 85%;
  }
  
}